# Ignorar directorios raíz
Resources/
Books/

# Ignorar subdirectorios específicos en Notes/Swift
Notes/Swift/CONTESTS/
Notes/Swift/LEARNING/GENERAL/Data\ Structures/Data_Structures_and_Algorithms_in_Swift_v3/
Notes/Swift/LEARNING/GENERAL/projects\ SWIFTUI\ &\ UIKIT/Catalyst_by_Tutorials_v1/
Notes/Swift/LEARNING/GENERAL/projects\ SWIFTUI\ &\ UIKIT/iOS\ &\ Swift/
# Notes/Swift/LEARNING/SWIFTUI/projects/Learning\ with\ M\ I\ L\ O/
Notes/Swift/LEARNING/SWIFTUI/五\ Interacción\ y\ diseño/Interaction/Animations/
Notes/Swift/LEARNING/SWIFTUI/八\ Persistencia\ y\ Datos/Core\ Data/projects/Core_Data_by_Tutorials_v7.0.0/
Notes/Swift/LEARNING/SWIFTUI/十\ Funcionalidades\ Avanzadas/2D_Apple_Games_by_Tutorials_3/
Notes/Swift/LEARNING/SWIFTUI/十\ Funcionalidades\ Avanzadas/ARKit_by_Tutorials_v3/
Notes/Swift/LEARNING/SWIFTUI/十\ Funcionalidades\ Avanzadas/Machine_Learning_by_Tutorials_v2.4.0/
Notes/Swift/LEARNING/SWIFTUI/十\ Funcionalidades\ Avanzadas/Notifications/Push_Notifications_by_Tutorials_v2/
Notes/Swift/LEARNING/SWIFTUI/四\ Rendimiento\ y\ buenas\ prácticas/projects/Advanced_iOS_App_Architecture_v3.0.0/
Notes/Swift/LEARNING/UIKIT/projects/Learning\ with\ M\ I\ L\ O/

# Ignorar archivos grandes comunes
*.pdf
*.epub

# Ignorar archivos generados por Xcode y Swift
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcshareddata/
*.xcuserstate
DerivedData/
.build/
.DS_Store

# Ignorar archivos de compilación y temporales
*.swp
*.bak
*.tmp
*.o
*.dSYM/
